<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242701690321-ndm38h4vgen2eo6ucm2j4ic6hmrl284r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242701690321-ndm38h4vgen2eo6ucm2j4ic6hmrl284r</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQjQB291pEPRdpSz1ObfUvCxDuymx48U</string>
	<key>GCM_SENDER_ID</key>
	<string>242701690321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testcode</string>
	<key>PROJECT_ID</key>
	<string>test-dbc92</string>
	<key>STORAGE_BUCKET</key>
	<string>test-dbc92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242701690321:ios:f7a78b4cf684ee68a9ecf0</string>
	<key>DATABASE_URL</key>
	<string>https://test-dbc92-default-rtdb.firebaseio.com</string>
</dict>
</plist>